* {
  margin: 0px;
  padding: 0px;
}
.header {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
}

.header-left {
  width: 55%;
  height: auto;
  display: flex;
  align-items: center;
  background: #141313;
}
.header-left .left {
  width: 100%;
  height: 500px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.left1 {
  display: flex;
  justify-content: end;
}
.content {
  height: 350px;
  display: flex;
  width: 65%;
  align-self: end;
  flex-direction: column;
}
.left1 h1 {
  color: #fff;
}
.left1 p {
  height: 32px;
  width: 0;
  border: 3px solid red;
  margin-left: 15px;
}

.header-right {
  width: 45%;
  height: 650px;
  border: 1px solid;
}
.header-right img {
  width: 100%;
  height: 650px;
}
.web-design {
  text-align: end;
  margin-bottom: 30px;
  position: relative;
}
.icon {
  position: absolute;
  top: 40px;
  right: -76px;
}

.icon i {
  color: white;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 27px;
  border: 3px solid #7e7979;
  background: #fff;
  color: red;
}
.web-design h5 {
  line-height: 44px;
  font-size: 15px;
  color: red;
}
.web-design p {
  line-height: 25px;
  color: #6d6060;
}
