.box{
    width: 270px;
    height: 300px;
    border: 1px solid #5f38a3f7;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: justify;
    flex-direction:column ;

}

.input{
    margin-bottom: 13px;
    background-color: #8080804f;
    border: none;
    border-radius: 15px;
    padding-left: 25px;
    height: 35px;
    width: 235px;
}


.loginbtn{
    border: none;
    background-color: #5f38a3f7;
    width: 229px;
    margin: 14px 0px;
    height: 40px;
    border-radius: 24px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.btn{
    color: #fff;
    font-weight: 700;
}


h3{
    display: flex;
    justify-content: center;
    margin: 20px;
    color: #5f38a3f7;
    font-weight: bold;
}
form{
    margin: 25px;
}